<div class="container-fluid">
	<div class="container">
		<h1>Movies</h1>

		<div class="row inputfields">

			<div class="col-md-3 search">
				<div class="d-flex">
					<input class="form-control me-2 bg-dark" type="search" placeholder="Search for a title" aria-label="Search">
					<a class="mt-2" type="submit"> <i class="bi bi-search"></i> </a>
				</div>
			</div>

			<div class="col-md-6 row rating">
				<div class="col-md-3">
					<input class="form-control bg-dark" type="number" placeholder="Title (A-Z)">
				</div>
				<div class="col-md-3">
					<input class="form-control bg-dark" type="number" placeholder="Title (A-Z)">
				</div>
			</div>

		</div>

	</div>
</div>
