.container-fluid {
	background: #171717;
	padding: 40px 0;
}

h1 {
	font-weight: 400;
}

input, select, input:focus {
	border-color: #2E2E2E;
	background-color: black;
}

a {
	transform: translateX(-40px);
}

.container {
	overflow-x: hidden;
}

.inputfields {
	display: block;
	position: absolute;
	width: 100%;
	transform: translateY(20px);

	span {
		color: #FFFFFF;
		position: absolute;
		opacity: 50%;
		transform: translateY(-30px);
		width: 100px;
	}

	.rating {
		float: right;
		transform: translateY(-38px);

		input {
			color: #FFFFFF;
			border-color: #2E2E2E;
		}
	}
}

select {
	color: #FFFFFF;
	border-color: #2E2E2E;
}

