nav {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 94.98%;

	background: #131313;
}

.navbar {
	padding: 30px 0;
}

.logo {
	padding: 10px 0;
	position: absolute;
	left: calc((100% - 195px) / 2);
}

span {
	color: #FFFFFF;
}
